<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://nhlobo.github.io"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
</IfModule>
